# .gitignore (inside the backend folder)

# Environment variables
.env

# Node modules
node_modules/
.wwebjs_auth/
.wwebjs_cache/

# Prisma Client
node_modules/.prisma

# Prisma migrations
prisma/migrations/

# User-uploaded images
images/
uploads/
public/

# VS Code settings
.vscode/

# wwebjs session and cache files
.wwebjs_auth/session-client-one/Default/Cache/
.wwebjs_auth/session-client-one/Default/Service Worker/
.wwebjs_auth/session-client-one/Default/Code Cache/
.wwebjs_auth/session-client-one/Default/Local Storage/
.wwebjs_auth/session-client-one/Default/Session Storage/
